# 0.0 IMPORTS

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns

## 0.1 Helper Function

## 0.2 Load Data

In [4]:
df = pd.read_csv('../data/train.csv')

In [5]:
df.describe(include='all')

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
count,9500.000000,9500.000000,9500.000000,9500.000000,9.500000e+03,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500,9500,9500
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não,Não,Negar
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7177,8917,7995
mean,6210.532947,126.398421,404.532032,1437.086420,1.950373e+05,611.999323,32.270823,10.863684,17.552316,21.433158,20.990316,29.832421,24.937158,66.618632,NaN,NaN,NaN
std,3603.243914,685.036005,217.696725,1156.263217,1.454274e+06,2002.443880,5.106053,62.555417,120.980186,122.677390,14.800612,222.637763,183.733346,440.118524,NaN,NaN,NaN
min,1.000000,18.000000,0.088628,0.230000,1.047387e+04,0.000000,20.992914,0.000000,0.000000,1.000000,-5.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN
25%,3091.750000,28.000000,272.363060,573.620000,2.620790e+04,76.083981,28.078872,2.000000,3.000000,4.000000,10.000000,9.000000,2.000000,8.000000,NaN,NaN,NaN
50%,6172.500000,38.000000,337.169588,1175.730000,4.599111e+04,134.201478,32.262649,3.000000,6.000000,6.000000,18.000000,14.000000,4.000000,14.000000,NaN,NaN,NaN
75%,9320.250000,47.000000,471.264657,1963.332500,8.044983e+04,249.182915,36.464575,6.000000,7.000000,7.000000,28.000000,18.000000,8.000000,20.000000,NaN,NaN,NaN
max,12500.000000,8598.000000,1602.040519,4998.070000,2.327966e+07,10000.000000,49.564519,1496.000000,1779.000000,1479.000000,67.000000,4388.000000,2589.000000,5788.000000,NaN,NaN,NaN

# 1.0 DATA DESCRIPTION

In [6]:
df1 = df.copy()

## 1.1 <s>Rename Columns</s>

In [7]:
df1.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

## 1.2 Data Dimensions

In [8]:
df1.shape

(9500, 17)

## 1.3 Data Type

In [9]:
df1.dtypes

id_cliente                   int64
idade                        int64
saldo_atual                float64
divida_atual               float64
renda_anual                float64
valor_em_investimentos     float64
taxa_utilizacao_credito    float64
num_emprestimos              int64
num_contas_bancarias         int64
num_cartoes_credito          int64
dias_atraso_dt_venc          int64
num_pgtos_atrasados          int64
num_consultas_credito        int64
taxa_juros                   int64
investe_exterior            object
pessoa_polit_exp            object
limite_adicional            object
dtype: object

## 1.4 Check NA

In [10]:
df.isna().sum()

id_cliente                 0
idade                      0
saldo_atual                0
divida_atual               0
renda_anual                0
valor_em_investimentos     0
taxa_utilizacao_credito    0
num_emprestimos            0
num_contas_bancarias       0
num_cartoes_credito        0
dias_atraso_dt_venc        0
num_pgtos_atrasados        0
num_consultas_credito      0
taxa_juros                 0
investe_exterior           0
pessoa_polit_exp           0
limite_adicional           0
dtype: int64

## 1.5 <s>Fillout NA<s/>

## 1.6 Change Types

In [11]:
df1.dtypes

id_cliente                   int64
idade                        int64
saldo_atual                float64
divida_atual               float64
renda_anual                float64
valor_em_investimentos     float64
taxa_utilizacao_credito    float64
num_emprestimos              int64
num_contas_bancarias         int64
num_cartoes_credito          int64
dias_atraso_dt_venc          int64
num_pgtos_atrasados          int64
num_consultas_credito        int64
taxa_juros                   int64
investe_exterior            object
pessoa_polit_exp            object
limite_adicional            object
dtype: object

## 1.5 Descriptive Statiscal

In [12]:
num_attributes = df1.select_dtypes(include=['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude=['int64', 'float64', 'datetime64[ns]'])

### 1.7.1 Numerical Attributes

In [13]:
num_attributes.describe()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros
count,9500.000000,9500.000000,9500.000000,9500.000000,9.500000e+03,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000,9500.000000
mean,6210.532947,126.398421,404.532032,1437.086420,1.950373e+05,611.999323,32.270823,10.863684,17.552316,21.433158,20.990316,29.832421,24.937158,66.618632
std,3603.243914,685.036005,217.696725,1156.263217,1.454274e+06,2002.443880,5.106053,62.555417,120.980186,122.677390,14.800612,222.637763,183.733346,440.118524
min,1.000000,18.000000,0.088628,0.230000,1.047387e+04,0.000000,20.992914,0.000000,0.000000,1.000000,-5.000000,0.000000,0.000000,1.000000
25%,3091.750000,28.000000,272.363060,573.620000,2.620790e+04,76.083981,28.078872,2.000000,3.000000,4.000000,10.000000,9.000000,2.000000,8.000000
50%,6172.500000,38.000000,337.169588,1175.730000,4.599111e+04,134.201478,32.262649,3.000000,6.000000,6.000000,18.000000,14.000000,4.000000,14.000000
75%,9320.250000,47.000000,471.264657,1963.332500,8.044983e+04,249.182915,36.464575,6.000000,7.000000,7.000000,28.000000,18.000000,8.000000,20.000000
max,12500.000000,8598.000000,1602.040519,4998.070000,2.327966e+07,10000.000000,49.564519,1496.000000,1779.000000,1479.000000,67.000000,4388.000000,2589.000000,5788.000000

In [14]:
# Central Tendency - mean, median
ct1 = pd.DataFrame (num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame (num_attributes.apply(np.median)).T

# Dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply(np.std)).T
d2 = pd.DataFrame(num_attributes.apply(min)).T
d3 = pd.DataFrame(num_attributes.apply(max)).T
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T

#concatenate
m = pd.concat ([d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kustosis']
m

,attributes,min,max,range,mean,median,std,skew,kustosis
0,id_cliente,1.000000,1.250000e+04,1.249900e+04,6210.532947,6172.500000,3.603054e+03,0.014114,-1.199109
1,idade,18.000000,8.598000e+03,8.580000e+03,126.398421,38.000000,6.849999e+02,9.092579,87.613308
2,saldo_atual,0.088628,1.602041e+03,1.601952e+03,404.532032,337.169588,2.176853e+02,1.621743,3.104578
3,divida_atual,0.230000,4.998070e+03,4.997840e+03,1437.086420,1175.730000,1.156202e+03,1.187913,0.848447
4,renda_anual,10473.865350,2.327966e+07,2.326918e+07,195037.274234,45991.106000,1.454197e+06,11.874057,149.389202
5,valor_em_investimentos,0.000000,1.000000e+04,1.000000e+04,611.999323,134.201478,2.002338e+03,4.436327,17.868001
6,taxa_utilizacao_credito,20.992914,4.956452e+01,2.857161e+01,32.270823,32.262649,5.105784e+00,0.042483,-0.915879
7,num_emprestimos,0.000000,1.496000e+03,1.496000e+03,10.863684,3.000000,6.255212e+01,16.366227,310.979754
8,num_contas_bancarias,0.000000,1.779000e+03,1.779000e+03,17.552316,6.000000,1.209738e+02,10.877721,123.218353
9,num_cartoes_credito,1.000000,1.479000e+03,1.478000e+03,21.433158,6.000000,1.226709e+02,8.564262,76.794957
10,dias_atraso_dt_venc,-5.000000,6.700000e+01,7.200000e+01,20.990316,18.000000,1.479983e+01,0.970164,0.371792
11,num_pgtos_atrasados,0.000000,4.388000e+03,4.388000e+03,29.832421,14.000000,2.226260e+02,14.835981,231.487222
12,num_consultas_credito,0.000000,2.589000e+03,2.589000e+03,24.937158,4.000000,1.837237e+02,10.242857,110.509369
13,taxa_juros,1.000000,5.788000e+03,5.787000e+03,66.618632,14.000000,4.400954e+02,9.609882,98.260223

### 1.7.2 Categorical Attributes

In [15]:
cat_attributes.head()

  investe_exterior pessoa_polit_exp limite_adicional
0              Não              Não            Negar
1              Não              Não            Negar
2              Sim              Não            Negar
3              Sim              Não            Negar
4              Sim              Não            Negar